$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

$major: #30231d;
$minor: #cde6ee;
$white: #f2f2f2;
$black: #1b1b1b;
$alt: #b5a397;

$darkblue: #16193b;
$blue1: #35478c;
$blue2: #4E7AC7;
$blue3: #7fb2f0;
$blue4: #add5f7;
$playfair: 'Playfair Display', serif;
$crimson-text: 'Crimson Text', serif;

@keyframes pulse
 {
  0%{
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
    opacity: 0.5;
  }
}


body{
    font-family: 'Source Sans Pro', sans-serif;
      /* Margin bottom by footer height */
  margin-bottom: 60px;
   padding: 0;
  color: $white;
  font-size: 18px;
}

.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-xs-15 {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}


.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}


.img-responsive {
  border-color: $white;
  border: 1px solid;
}

.brand-image{
  height: 98%;
}

.navbar-default{
  background-color: $darkblue;
  padding: 0;
}
.title-container {
  padding-top: 80px;
}
.welcome-title{
  font-family: $playfair;
  font-size: 72px;
  margin-bottom: 60px;
}
.welcome-subtitle
{
  font-size: 30px;
  font-family: $crimson-text;
  padding-top: 60px;
  animation: fadeInUp 3s .5s both;
}

.home {
    background: url("/images/header-bg.jpg") no-repeat center center fixed;
    background-size: cover;
    background-attachment: fixed;

    height: 700px;
    padding-top: 150px;
    position: relative;
}

.navbar-right li a {
  text-transform: uppercase;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  color: #ffffff; }

  .title-divider{
    background-color: #f2f2f2;
    height: 2px;
    animation: spreadOut 1s .5s both;
    // padding: 40px 0 40px 0;
  }


  @keyframes spreadOut {
    0% {
      opacity: 0;
      transform: scaleX(0);
      }
    100% {
        opacity: 1;
        transform: scaleX(3);
      }
  }

  @keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translate3d(0, 100%, 0);
      }
    100% {
        opacity: 1;
        transform:none;
      }
  }

  .title-logo{
    // padding-top: 100px;
    padding-bottom: 70px;
    animation: fadeInUp 3s .5s both;
  }

.icon{
    padding: 20px;
    color: $white;
}
#about, {
  background:
  /* top, transparent black, faked with gradient */
  linear-gradient(
  rgba(0, 0, 0, 0.8),
  rgba(0, 0, 0, 0.8)
  ),
   url("/images/office.jpg") no-repeat center center fixed;
  background-size: cover;
  background-attachment: fixed;
  padding-top: 80px;
  padding-bottom: 180px;
  background-color: $black;
  color: $white;
   }
   .about-intro {
     font-family: $crimson-text;
   }

   .portrait {
      border: 2px solid darkgray;
   }

#skills {
  background-color: $black;
  color: $white;
  height: auto;
  min-height: 700px;
  padding-top: 80px;
}
#projects{
  background-color: $black;
  color: $white;
}
#contact{
  background-color: $blue1;
}
.skillsIcons{
    padding-top: 60px;
}

.col-md-15 {
  width: 20%; }

.pTitle {
    padding-top: 20px;
}
#contact, #projects {
    padding-top: 80px;
}

.mainDivider {
    display: block;
    margin: 50px;
    width: 80%;
    height: 2px;
    background-color: $blue1;
}


#innerContact {
  background-color: $white;
  background-image: url(/images/map.png);
  background-repeat: no-repeat;
  height: 400px;
  max-width: inherit;
  background-size: cover; }

.contact-icons {
  height: 100px;
  padding-top: 30px; }

.contact-heading {
  padding-top: 120px;
  color: $darkblue; }

.contact-link {
  padding: 10px; }

#contactSub {
  color: #313B74; }



.intro-header {

  position: absolute;
  bottom: 160px;
  right: 160px;
  color: $darkblue;
  background-color: $alt;
  opacity: .8;
}


.divider {
    border-color: $major;
    border-style: solid;
    border-width: 0 0 3px;
    height: 10px;
    line-height: 20px;
    text-align:center;
    overflow: visible;
}

.divider span {
    background-color: $major;
    display: inline-block;
    padding: 0 10px;
    min-height: 20px;
    min-width: 10%;
}

.sect{
  padding-top: 20px;
}

#clients .fa,
.icon-javascript,
.icon-apache,
.icon-ubuntu,
.icon-mysql
 {
  color: $darkblue;
}


.projectItem{
  padding:80px 0 80px 0;
}


.projectLink:hover {
  animation: pulse .5s infinite alternate;
}

.rowItem{
  border-bottom: 1px solid #515151;
}

.pImg {
   background: transparent none repeat scroll 0 0 !important;
    margin-bottom: 25px;
    width: 500px;
}
.fa-github,
.fa-external-link{
  padding: 10px;
  color: $white;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: $darkblue;
  overflow: auto;
}
html {
  position: relative;
  min-height: 100%;
}

.copyright,
.credits
p{
  padding-top: 15px;
  font-size: 16px;
}
.contactButton {
  height: 40px;
  border: 10px;
  margin: 10px;

}


.contactButton:hover {
  animation: pulse .5s infinite alternate;
}
