 <section class="sect" id="about">
        <div class="container">
          <!-- <h2 class="section-header text-center" id="aboutHeader">ABOUT ME</h2> -->
          <!-- Header Row -->
          <div class="row text-center">
            <div class="col-md-8 col-md-offset-2">
            <h1>Hello, I'm Lamont!</h1>
           <h2> I'm a detail oriented software developer passionate about creating useful and maintainable applications and web pages.  </h2>
            <span class="mainDivider"></span>
            </div>

          </div>
          <!-- End Header Row -->
              <!-- Image -->
                   <div class="row">
                       <div class="col-md-4">
                        <div class = "col-md-8">
                           <img class="img-responsive img-circle portrait center-block" ng-src="/images/profile.png">
                         </div>
                       </div>

                      <!-- Second Row -->
          <div class="col-md-4">
            <p>I am a software developer dedicated to creating responsive web pages and applications using JavaScript with supporting technologies..</p>
            <p>I have a background of creating a range of online experiences from simple landing pages to interactive web applications.</p>
            <p>I strive to create software that is not only useful and intuitive for clients and consumers, but also maintainable and descriptive for other software developers and peers.</p>
          </div>
        <!-- Third Row -->
          <div class="col-md-4">
            <p>My main coding language of choice is JavaScript(ES6/Babel), while using React as a library.</p>
            <p>I also have experience using AngularJS as well as mobile frameworks such as Ionic and React Native.</p>
            <p>I am always challenging myself in learning new technologies and languages; Furthermore, I have a background of project and team management.</p>
         </div>
    </div>
        </section>
