 <section class="sect" id="about">
        <div class="container">
          <!-- <h2 class="section-header text-center" id="aboutHeader">ABOUT ME</h2> -->
          <!-- Header Row -->
          <div class="row text-center">
            <div class="col-md-8 col-md-offset-2">
            <h1>Hello, I'm Lamont!</h1>
           <h2> I'm a detail oriented software developer passionate about creating useful and maintainable applications and web pages.  </h2>
            <span class="mainDivider"></span>
            </div>

          </div>
          <!-- End Header Row -->
              <!-- Image -->
                   <div class="row">
                       <div class="col-md-4">
                        <div class = "col-md-8">
                           <img class="img-responsive img-circle portrait center-block" ng-src="/images/profile.png">
                         </div>
                       </div>

                      <!-- Second Row -->
          <div class="col-md-4">
                 <p>I have been working on websites part-time for over 20
                   years.</p>

                 <p>Over a year and a half ago, I decided to teach myself JavaScript and eventually Front-end Development frameworks and libraries to add to the HTML and CSS skills I already possessed.
                </p>
                <p>Currently, I have been focused on doing projects using ReactJs.  I also have experience of building a few projects using AngularJS and Laravel with a PHP front-end as well.</p>

        </div>
        <!-- Third Row -->
        <div class="col-md-4">
          <p>I have over 20 years of working experiences within other fields, a background of classroom learning of programming principles with C++, and project management experience.</p>
          <p>I am also currently learning backend technolgies such as Node.js to become full stack. </p>
          <p> At the present time, I am interested in exploring Front End Development opportunites where I and others can take advantage of my skills.  Feel free to contact me for inquiries.</p>

        </div>
    </div>
        </section>
