<section class="sect" id="contact">
        <div class="container">
            <div class="row text-center visible-lg-block visible-md-block" id="clients">
               <div class="col-md-2 col-sm-6 slice">
                    <i class="fa fa-linux fa-5x" aria-hidden="true"></i>
                </div>
                               <div class="col-md-2 col-sm-6 slice">
                    <i class="icon-javascript" aria-hidden="true" style="font-size: 5em;"></i>
                </div>
                               <div class="col-md-2 col-sm-6 slice">
                    <i class="icon-apache" style="font-size:5em;"></i>
                </div>
                               <div class="col-md-2 col-sm-6 slice">
                    <i class="icon-ubuntu" style="font-size:5em;"></i>
                </div>
                               <div class="col-md-2 col-sm-6 slice">
                    <i class="icon-mysql" style="font-size:5em;"></i>
                </div>
                <div class="col-md2 col-sm6 slice">
                    <i class="fa fa-code fa-5x" aria-hidden="true"></i>
                </div>
            </div>
        </div>
            <div class="container-fluid">

                <div class="row" id="innerContact">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12 text-center contactImg">
                                <h1 class="contact-heading">CONTACT ME</h1>
                                <a href="https://www.linkedin.com/in/mlamont8"><h3 class="section-sub" id="contactSub">Connect With Me on Linkedin</h3></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row contact-icons text-center">
                        <a href="https://www.linkedin.com/in/mlamont8"><img class="contactButton" src="/images/linkedin.png"></a>

                        <a href="https://twitter.com/mlamont8"><img class="contactButton" src="/images/twitter.png"></a>

                        <a href="https://github.com/mlamont8"><img class="contactButton" src="/images/github.png"></a>
                    </div>
                </div>

                   </div>

          <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="copyright col-md-6">
                        <p>M Lamont Taylor ©2016 | All rights reserved.</p>
                    </div>
                    <div class="credits">
                        <p>Icons designed by <a href="http://www.flaticon.com/authors/freepik">Freepik</a> and distributed by Flaticon, is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></p>
                    </div>

                </div>

            </div>
        </footer>




    </section>
