<div class="home container">

    <div class="row">
      <div class="col-xs-4 intro-header">
      
        <p>Lorem ipsum dolor sit amet, eu posuere mi faucibus itaque rutrum viverra. Ornare eleifend nunc vitae enim lacus. Hymenaeos erat quam, nam accumsan donec, purus elit, at ullamcorper potenti metus ut, diam auctor aliquam wisi aliquam adipiscing quam. Qui sociis sapien nascetur. Aliquam egestas lorem magna dapibus, nulla fames semper pede, cras amet rutrum gravida. Maecenas elit pede fringilla praesent fringilla, curabitur sed amet ultricies mauris sodales, ipsum risus in leo.</p>
    </div>
  </div>
</div>