
     <nav class="navbar navbar-default navbar-inverse topnav navbar-fixed-top" id="header_nav">
        <div class="container">

            <div class="navbar-header">
                <a href="#" class="navbar-brand"><p id="name">M LAMONT TAYLOR</p></a>

            <!-- Collapse for Mobile -->
            <button class="navbar-toggle" ng-click="isCollapsed = !isCollapsed">
                <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
            </button>
                        </div>
            <!-- Right Side Content that Collapses -->
            <div class="collapse navbar-collapse collapseContent" uib-collapse="!isCollapsed">
                <!--Menu items -->
                <ul class="nav navbar-nav navbar-right">
                    <!-- scroll-to adds smooth scroll function, isCollapsed is toggled to autoclose-->
                    <li><a ng-click="isCollapsed = !isCollapsed" href="#" scroll-to="home">Home</a></li>
                    <li><a ng-click="isCollapsed = !isCollapsed" href="#" scroll-to="about">About</a></li> 
                    <li><a ng-click="isCollapsed = !isCollapsed" href="#" scroll-to="projects">Projects</a></li>
                    <li><a ng-click="isCollapsed = !isCollapsed" href="#" scroll-to="contact">Contact</a></li>
                </ul>

            </div>
        </div>
    </nav>