<section class="sect" id="projects">
    <div class="container text-center">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-header">PROJECTS</h2>
                
            </div>
            <div class="col-lg-12 text-center" id="compIcon">
                <i class="fa fa-laptop fa-4x" aria-hidden='true'></i>
            </div>
            
        </div>
        
        <!--ngrepeat row-->
        
        <div ng-repeat="item in projectsList.data">
        <div class="row text-center  projectItem">
         <h2 class="pTitle">{{item.title | uppercase}}</h2>
          <div class="row text-center">
                <img class="img-responsive img-rounded center-block pImg" ng-src='{{item.image}}'>
                <div class="pIcon">
                    <a href="{{item.github}}"><i class="fa fa-github fa-3x" aria-hidden="true"></i></a>
                </div>
                <p class="descript lead well col-md-8 col-md-offset-2">{{item.desc}}</p>
                <p class="tools col-md-8 col-md-offset-2">{{item.tech}}</p>
                
            </div>   
            
            </div>
        </div>
    </div>
    
</section>