<section class="sect" id="projects">
    <div class="container text-center">
        <div class="row">
            <!-- Header -->
            <div class="col-lg-12 text-center">
                <h2 class="section-header">PROJECTS</h2>
                </div>
            <div class="col-lg-12 text-center" id="compIcon">
                <i class="fa fa-laptop fa-4x" aria-hidden='true'></i>
            </div>

        </div>

        <!--ngrepeat row-->

        <div ng-repeat="item in projectsList.data" class="rowItem">
        <div class="row projectItem">
         <!-- ng-class-even for alternating sides on rows -->
                <div class="col-md-6" ng-class-even="'col-md-push-6'" >
                <img class="img-responsive pImg center-block"ng-src='{{item.image}}'>
                </div>
                  <div class="col-md-6" ng-class-even= "'col-md-pull-6'">

                <p class="descript lead">{{item.desc}}</p>
                <p class="tools">{{item.tech}}</p>
                <a ng-href="{{item.github}}" target="_blank"><i class="fa fa-github fa-2x projectLink" title="GitHub"></i></a>
                <a ng-href="{{item.link}}" target="_blank"><i class="fa fa-external-link fa-2x projectLink" title="Link"></i></a>
                </div>
            </div>


        </div>


</section>
