<section class="sect" id="skills">
    <div class="container text-center">
       <div class="row">
           <div class="col-lg-12 text-center">
               <h2 class="section-header" id="skillHeader">SKILLS</h2>
               <h3 class="section-sub small"><i>Wisdom is knowing what to do next, Skill is knowing how to do it, and Virtue is doing it. --David Starr Jordan"</i></h3>
           </div>
        </div>
        
       <div class="row skillsIcons">
  <div ng-repeat="item in skillsList.data" class="col-md-15 col-sm-15 col-xs-15">

                <span class="fa-stack fa-4x">
                   <i class="fa fa-circle fa-stack-2x text-primary"></i>
                   <i class="fa {{item.icon}} fa-stack-1x fa-inverse"></i>
                   </span>
                   <h4 class="skill-heading">{{item.skill | uppercase}}</h4>
                   <ul class="list-unstyled skillList center-block">
                      <li ng-repeat="cat in item.subcats" class="tools col-md-8 col-md-offset-2">{{cat}}</li>
                      
                   </ul>
               </div>
        </div>